<footer class="footer">
    <div class="container-fluid">
        <span class="text-muted">
            Movie posters by
            <a href="https://www.themoviedb.org/">
                <img class="pb-1" height="15px" alt="TMDb"
                     src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"/>
            </a>.
            This project uses the TMDb API but is not endorsed or certified by TMDb.
        </span>
    </div>
</footer>