<header>
    <nav class="navbar expand justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline" action="{% url 'search_empty' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="search" type="search" class="form-control" placeholder="Search" aria-label="Search"
                               value="{% if mode == 'search' %}{{ search_query }}{% else %}{{ movies.0.title }}{% endif %}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="submit">
                                <i class="fa fa-search" title="Search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        {% if mode == 'recommend' %}
            <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-outline-info dropdown-toggle">
                    Method
                </button>
                <div class="dropdown-menu dropdown-menu-right text-right">
                    {% for method in methods %}
                        {# consider changing .disabled to .active here #}
                        <a class="dropdown-item{% if method.active %} disabled{% endif %}"
                           href="{% url 'recommend' movie_id=movies.0.movielens_id method_name=method.name %}">
                            {{ method.display_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </nav>
</header>