<header>
    {#    <nav class="navbar expand justify-content-around justify-content-lg-between">#}
    <div class="row align-items-center justify-content-center justify-content-lg-start text-center mx-4">

        {#        <div class="navbar-brand">#}

        {% if mode == 'search' %}
            <div class="col-12 col-md-auto h5 my-4">
                Search results for <span class=""><i><b>{{ search_query }}</b></i></span>
            </div>

        {% else %}
            <div class="col-12 col-md-auto h5 mb-3 mb-md-4 mt-4 pl-0 pr-1">
                Recommendations for <i><b>{{ movies.0.title }}</b></i>
            </div>
            <div class="col-12 col-md-auto{# dropright #} h5 px-0 my-2 mt-md-2 mr-2">
                <div class="btn-group align-items-center">
                    using
                    <button type="button" data-toggle="dropdown"
                            class="btn btn-outline-info dropdown-toggle btn-lg mx-2">
                        {# Method #}
                        {% for method in methods %}
                            {% if method.active %}
                                {{ method.display_name }}
                            {% endif %}
                        {% endfor %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right text-right">
                        {% for method in methods %}
                            {# consider changing .disabled to .active here #}
                            <a class="dropdown-item{% if method.active %} disabled{% endif %}"
                               href="{% url 'recommend' movie_id=movies.0.movielens_id method_name=method.name %}">
                                {{ method.display_name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {#        </div>#}

        <div class="col-lg col-12 navbar-nav pr-0 mt-3 mb-4 my-lg-0">
            <form class="form-inline" action="{% url 'search_empty' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mx-auto mr-lg-0">
                    <input name="search" type="search" class="form-control" placeholder="Search for movie titles"
                           aria-label="Search" {#  value="{% firstof search_query movies.0.title %}" #}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">
                            <i class="fa fa-search" title="Search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {#    </nav>#}
</header>