<label>
    Method
    <select form="main_form" name="method"
            {% if conf.immediate_method_change %}
                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
            {% endif %}
    >

        {% for method in methods %}
        <option
                {% if conf.immediate_method_change %}
                    value="{% url 'display_similar' base_movie.movielens_id method.name %}"
                {% else %}
                    value="{{ method.name }}"
                {% endif %}

                {% if method.name == current_method %}
                    selected
                {% endif %}
        >{{ method.display_name }}
        </option>
        {% endfor %}

    </select>
</label>