{% extends "movie/base.html" %}

{% block title %}Recommendations for {{ base_movie.title }}{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Poster</th>
                <th>Title</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        {% for r in recommendations %}
            <tr>
                <td>{{ r.id }}</td>
                <td><img height="150px"  src="{{ r.omdbPoster }}" alt="whoops"/></td>
                <td>{{ r.title }}</td>
                <td>{{ r.plotSummary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}