# directly used for recommendations
pandas~=1.0.4
numpy~=1.18.5
scipy~=1.4.1
scikit-learn~=0.23.1
# full text search
Whoosh~=2.7.4
# for pre-processing and generally parsing json
simplejson~=3.17.0
# server framework
Django~=3.0.7
# for fetching poster urls
requests~=2.23.0