
.lead, .display-4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* only show on md,lg,xl */
/* @media (max-width: 767.98px) {} */

/* only show on xs,sm */
@media (min-width: 768px) {
    .limited-row {
        display: flex;
    }

    .limited-row > .col {
        display: flex;
        flex-direction: column;
    }

    .limited-row > .col:not(.limiter) > .limited-field {
        flex-basis: 0;
        flex-grow: 1;
    }

    .hero-movie-info-body {
        overflow-y: auto;
    }
}

.movie-thumbnail {
    height: 210px;
    width: 140px;
}

.carousel-indicator {
    max-width: 140px;
}

.hero-poster {
    height: 360px;
    width: 240px;
}

/* carousel stuff */

.carousel-indicators {
    /* carousel-indicators are inside the carousel per default */
    position: unset;
    right: unset;
    bottom: unset;
    left: unset;
    display: flex;

    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: unset;
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-pack: center;*/
    justify-content: unset;
    /*padding-left: 0;*/
    /*margin-right: 15%;*/
    /*margin-left: 15%;*/
    /*list-style: none;*/

    overflow-x: auto;
}

.carousel-indicator {
    /* fix for carousel-indicators default style */
    flex: none !important;
    opacity: 0.5;
}

.carousel-indicator.active {
    opacity: 1;
}

.hero-movie {
    margin-bottom: unset;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    /*background-color: #f5f5f5;*/
}